<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.credit.mapper.enterprise.UploadFileMapper" >
  <resultMap id="BaseResultMap" type="com.credit.model.enterprise.UploadFile" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="ENTID" property="entid" jdbcType="VARCHAR" />
    <result column="ADDDATE" property="adddate" jdbcType="TIMESTAMP" />
    <result column="FILESIZE" property="filesize" jdbcType="VARCHAR" />
    <result column="FILEURL" property="fileurl" jdbcType="VARCHAR" />
    <result column="UPLOADFILECATEGORYID" property="uploadfilecategoryid" jdbcType="VARCHAR" />
    <result column="FILENAME" property="filename" jdbcType="VARCHAR" />
    <result column="CROSSSTATE" property="crossstate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, ENTID, ADDDATE, FILESIZE, FILEURL, UPLOADFILECATEGORYID, FILENAME, CROSSSTATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TE_UPLOADFILE
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TE_UPLOADFILE
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.credit.model.enterprise.UploadFile" >
    insert into TE_UPLOADFILE (UUID, ENTID, ADDDATE, 
      FILESIZE, FILEURL, UPLOADFILECATEGORYID, 
      FILENAME, CROSSSTATE)
    values (#{uuid,jdbcType=VARCHAR}, #{entid,jdbcType=VARCHAR}, #{adddate,jdbcType=TIMESTAMP}, 
      #{filesize,jdbcType=VARCHAR}, #{fileurl,jdbcType=VARCHAR}, #{uploadfilecategoryid,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{crossstate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.credit.model.enterprise.UploadFile" >
    insert into TE_UPLOADFILE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="entid != null" >
        ENTID,
      </if>
      <if test="adddate != null" >
        ADDDATE,
      </if>
      <if test="filesize != null" >
        FILESIZE,
      </if>
      <if test="fileurl != null" >
        FILEURL,
      </if>
      <if test="uploadfilecategoryid != null" >
        UPLOADFILECATEGORYID,
      </if>
      <if test="filename != null" >
        FILENAME,
      </if>
      <if test="crossstate != null" >
        CROSSSTATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="entid != null" >
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null" >
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="filesize != null" >
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="uploadfilecategoryid != null" >
        #{uploadfilecategoryid,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="crossstate != null" >
        #{crossstate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.credit.model.enterprise.UploadFile" >
    update TE_UPLOADFILE
    <set >
      <if test="entid != null" >
        ENTID = #{entid,jdbcType=VARCHAR},
      </if>
      <if test="adddate != null" >
        ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="filesize != null" >
        FILESIZE = #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        FILEURL = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="uploadfilecategoryid != null" >
        UPLOADFILECATEGORYID = #{uploadfilecategoryid,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        FILENAME = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="crossstate != null" >
        CROSSSTATE = #{crossstate,jdbcType=DECIMAL},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.credit.model.enterprise.UploadFile" >
    update TE_UPLOADFILE
    set ENTID = #{entid,jdbcType=VARCHAR},
      ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      FILESIZE = #{filesize,jdbcType=VARCHAR},
      FILEURL = #{fileurl,jdbcType=VARCHAR},
      UPLOADFILECATEGORYID = #{uploadfilecategoryid,jdbcType=VARCHAR},
      FILENAME = #{filename,jdbcType=VARCHAR},
      CROSSSTATE = #{crossstate,jdbcType=DECIMAL}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  
    
   <select id="selectByEntID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TE_UPLOADFILE
    where ENTID = #{entid,jdbcType=VARCHAR}
  </select>
   <select id="selectByEntIDAndFileID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TE_UPLOADFILE
    where ENTID = #{entid,jdbcType=VARCHAR} and UPLOADFILECATEGORYID = #{fileID,jdbcType=VARCHAR}
  </select>
    <select id="judgeFileAllUpload" parameterType="java.lang.String" resultType="string">
    SELECT s.name||'#'||o.uploadfilecategoryid FROM TB_UPLOADFILECATEGORY s LEFT JOIN TE_UPLOADFILE o ON
	(s.uuid = o.uploadfilecategoryid  AND o.ENTID= #{entid,jdbcType=VARCHAR})
	<where>
	 	s.ISENT = 0
	 <if test="ismust != null" >
     	AND s.ismust = 1
     </if>
	</where>
	 
  </select>
  
  <select id="findAllPathByCross"  resultMap="BaseResultMap">
    SELECT 
        <include refid="Base_Column_List" />
     FROM TE_UPLOADFILE WHERE CROSSSTATE=0
  </select>
</mapper>